@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
:root{
    /* primary colors - font colors*/
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);

    /* neutral - background colors*/
    --White: hsl(0, 0%, 100%);
    --Dark-desaturatedBlue: hsl(236, 21%, 26%);
    --darkBlue: hsl(235, 16%, 14%);
    /* (mostly black) */
    --Very-darkBlue: hsl(234, 17%, 12%);
}

body{
    margin: 0px;
    background-color: var(--darkBlue);
    font-family: 'Red Hat Text', sans-serif;
    background-image: url(/images/bg-stars.svg);
}


.container{
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
}
#header{
    width: 100%;
    font-size: 1rem;
    color: var(--White);
    margin: 8rem auto 3rem auto;
    font-weight: bold;
    letter-spacing: 0.5rem;

}

/* #content{
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
} */


.timer{
    display: inline-block;
    /* -moz-text-decoration-line: line-through; */
    /* text-decoration: line-through; */

}
.box{
    /* box-sizing: border-box; */
    background-color: var(--Dark-desaturatedBlue);
    padding: 1.5rem;
    margin: 1rem;
    display: block;
    width: max-content;

    /* display: flex;
    flex: 0 1 40vw;
    height: 100%;
    justify-content:center;
    align-items: center; */
    color: var(--Soft-red);
    font-size: 4rem;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.5rem var(--Very-darkBlue);
    /* text-decoration: line-through; */

}
.box-text{
    color: var(--Grayish-blue);
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

footer{
    background-image: url(/images/pattern-hills.svg);
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    padding-top: 2rem;
    
}
footer ul{
    padding-top: 4rem;
    list-style: none;
}
li{
    margin: 0rem 1rem;
    display: inline-block;
}

/* li a:hover{
    
    fill:  var(--Soft-red);
} */
/* svg {
    width: 70px;
    height: 70px;
  } */
path:hover {
    fill: var(--Soft-red);
  }
  


.attribution {
     font-size: 11px; 
     text-align: center; 
     color: var(--Soft-red);
    }
.attribution a { 
    color: var(--White); 
}


/* Screen less than 700px */

@media(max-width:700px){
    .box{
        padding: 1.5rem;
        font-size: 3rem;
        margin: 0.85rem;
    }
    #content{
        width: 100%;
    }
    
}

@media(max-width:580px){
    .box{
        padding: 1rem;
        font-size: 3rem;
        margin: 0.75rem;
    }
    #content{
        width: 100%;
        padding-bottom: 5rem;
    }

    /* #header{
        font-size: 1.5rem;
    } */
    /* footer{
        position: relative;
    }
     */
}
@media(max-width:500px){
    .box{
        padding: 0.75rem;
        font-size: 2.5rem;
        margin: 0.75rem;
    }
    #content{
        width: 100%;
        padding-bottom: 5rem;
    }
    .box-text{
        font-size: 0.6rem;
    }

    /* #header{
        font-size: 1.5rem;
    } */
    /* footer{
        position: relative;
    } */
    
}
@media(max-width:400px){
    .box{
        padding: 0.5rem;
        font-size: 2.25rem;
        margin: 0.55rem;
    }
    .box-text{
        font-size: 0.45rem;
    }
    #content{
        width: 100%;
        padding-bottom: 5rem;
    }

    /* #header{
        font-size: 1.5rem;
    } */
    /* footer{
        position: relative;
        padding-top: 3rem;
    } */
    
}