<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <p id="header">WE'RE LAUNCHING SOON</p>
        
        <div id="content">
            <div class="timer">
                <p class="box"><span>14</span> </p>
                <p class="box-text">DAYS</p>
            </div>
    
            <div class="timer">
                <p class="box">14</p>
                <p class="box-text">HOURS</p>
            </div>
    
            <div class="timer">
                <p class="box">14</p>
                <p class="box-text">MINUTES</p>
            </div>
        </div>

    </div>
    <footer class="container">
        <ul>
            <li><a href="#"><img src="/images/icon-facebook.svg" alt="icon-facebook"></a></li>
            <li><a href="#"><img src="/images/icon-instagram.svg" alt="icon-instagram"></a></li>
            <li><a href="#"><img src="/images/icon-pinterest.svg" alt="icon-pinterest"></a></li>
        </ul>
    </footer>


    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
</body>
</html>